<div class="container">
    <div class="page-header">
        <h1>Editar Sucursal</h1>
    </div>
    <form>
    <input id="searchBox" class="searchBox" type="text" placeholder="Direccion" ng-model="sucursal.direccion">
        <div class="form-group">
            <select ng-model="sucursal.localidad" class="form-control" placeholder="Localidad">
                <option value="1">Turdera</option>
                <option value="2">Temperley</option>
                <option value="3">Otro</option>
            </select>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div ng-cloak class="col-lg-8 googleMap" id="map">
            </div>
        </div>
        <div class="row">
            <input class="btn btn-success pull-right" ng-click="guardar(sucursal)" value="Guardar" />
        </div>
    </form>
</div>
