    <div class="container">
        <div class="page-header">
            <h1>Listado de Ordenes</h1>
            <a class="btn btn-success pull-right" href="ordenForm.php">Nueva Orden</a>
        </div>
        <table class="table" ng-table="ordenes">
            <thead>
                <tr>
                    <td class="col-md-4">
                        Domicilio del Cliente
                    </td>
                    <td class="col-md-4">
                        Telefono del Cliente
                    </td>
                    <td class="col-md-3">
                    </td>
                    <td class="col-md-2">
                    </td>
                    <td class="col-md-2">

                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orden in results">
                    <td>
                        {{ orden.domicilio_cliente }}
                    </td>
                    <td>
                        {{ orden.telefono_cliente }}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn">Productos</button>
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="producto in orden.productos"><a href="#">{{producto.descripcion}}</a></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-warning" href="ordenForm.php?nro_orden={{ orden.nro_orden }}">Modificar</a>
                    </td>
                    <td>
                        <a class="btn btn-danger" ng-click="eliminarOrden(orden)">Cancelar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="display: none;" id="dialog-confirm" title="Cancelar Orden">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Esta seguro que desea cancelar la orden?</p>
    </div>
    <div style="display: none;" id="dialog-success" title="Orden Cancelada">
        <p>La orden ha sido eliminada correctamente</p>
    </div>
    <div style="display: none;" id="dialog-error" title="Error">
        <p>Hubo un problema al cancelar la orden</p>
        </div>
