<div class="container">
    <div class="page-header">
        <h1>Listado de Productos</h1>
        <a class="btn btn-success pull-right" href="#/producto/nuevo">Nuevo Producto</a>
            <a class="btn btn-success pull-right" ng-csv="results" filename="productos.csv">Exportar</a>
    </div>
    <table class="table" ng-table="productos">
        <thead>
            <tr>
                <td class="col-md-6">
                    Descripcion
                </td>
                <td class="col-md-3">
                    Precio
                </td>
                <td class="col-md-3">
                </td>
                <td class="col-md-3">
                </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="producto in results">
                <td>
                    <img ng-src="userImages/productos/{{producto.imagen}}"/>
                </td>
                <td>
                    {{ producto.descripcion }}
                </td>
                <td>
                    {{ producto.precio }}
                </td>
                <td>
                    <a class="btn btn-warning" href="#/producto/detalle/{{ producto.idProducto }}">Modificar</a>
                </td>
                <td>
                    <a class="btn btn-danger" ng-click="eliminarProducto(producto)">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h1>Wikipedia</h1>
    <feed id="wikipedia-feed" count="10"
      url="http://en.wikipedia.org/w/api.php?action=featuredfeed&feed=featured&feedformat=atom"/>
</div>
<div style="display: none;" id="dialog-confirm" title="Eliminar Producto">
 <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Esta seguro que desea eliminar el producto?</p>
</div>
<div style="display: none;" id="dialog-success" title="Producto Eliminado">
 <p>El producto ha sido eliminado correctamente</p>
</div>
<div style="display: none;" id="dialog-error" title="Error">
 <p>Hubo un problema al eliminar el producto</p>
</div>
